@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Sassy+Frass&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #2c2340;
  text-decoration: none;
  list-style: none;
}

summary {
  display: block;
}

body {
  background-color: #f2dde3;
  padding-inline: 1rem;
}

.container {
  padding: 2rem;
}

.poppins-regular {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-style: normal;
}

.sassy-frass-regular {
  font-family: 'Sassy Frass', cursive;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {
  font-size: 48px;
  color: #e72e5c;
}
